html, body {
  height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-flow: column nowrap;
    color: #262626;
}

header {
    text-align: center;
    background: #262626;
    color: white;
    font-weight: bold;
    padding: 20px 0;
}

#main {
    flex: 1 0 auto;
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
}

.main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #262626;
    border-radius: 10px;
    width: 40%;
    color:  #262626;
}

.main__card h1 {
    text-align: center;
}

#main p {
    text-align: center;
}
#main__me {
    width: 30%;
    border: 2px solid #262626;
    border-radius: 100%;
}

#me-img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

footer {
    width: 100%;
    text-align: center;
    align-self: flex-end;
    flex-shrink: 0;
    color: #262626;
}


@media only screen and (max-width: 600px) {
  #main__me {
    width: 50%;
  }
}